form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
}

.period {
  background-color: rgb(194, 122, 28);
  display: flex;
  flex-direction: row;
    }
/* 
form > .period {
  background-color: rgb(194, 122, 28);
  display: flex;
  flex-direction: row;
} */

/* .period {
  display: flex;
  justify-content: space-between;
  
} */

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}


